.friend-list {
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;

  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px rgb(190, 190, 190) solid;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(197, 22, 22);
  }

  .status.isOnline {
    background-color: rgb(190, 173, 15);
  }

  .name {
    margin-left: 20px;
  }
}
